*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #000;
}
section{   
      
    height: 100%;
    width: 40%;
    display: flex;    
    flex-direction: column;
    background-color: #fff;
}
div{
    margin: 0rem 2rem 0rem 2rem ;
}
h1{
    text-transform:capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image{
    height: 100%;;
    width: 100%;
}
.para1{
    font-weight: 800;
    font-size: large;
}
p{
    font-size: medium;
}
mark{
    background-color: rgb(186, 174, 215);
}